<div class="login-container">
  Account Login
  <br>
  Please login with your email address, password <br>
  and telephone number.
  <hr>
  <form>
    <ul style="list-style-type: none;">
      <li>
        <label>Email</label>
        <input type="email" required>
      </li>
      <br>
      <li>
        <label>Password</label>
        <input type="text" required>
      </li>
      <br>
      <li>
        <label>Telephone Number</label>
        <input type="number" required>
      </li>
      <br>
    </ul>
    <hr>
    <button mat-button type="submit">Login</button>
  </form>
</div>
