

.login-container{
    display: block;
    position: relative;
    padding-left: 42%;
    padding-top: 4%;
    font-size: 27px;

}

button{
    font-size: 31px;
    margin-left: 17%;

}

input{
    left: 2%;
    position: relative;
}

hr{
    position: relative;
    margin-left: -2%;
    width: 50%;
}